@model Core.Models.Order

<div class="current-order">
    <div class="content-title">
        My order № @Model.Id
    </div>
    <table>
        <tr style="border-bottom: 2px solid black; text-align: center">
            <td> Coffee Name </td>
            <td> Flavor Name </td>
            <td> Quantity </td>
            <td> Price </td>
            <td> Total Sum </td>
        </tr> 
        @foreach (var orderFlavor in Model.CurrentOrders)
        {
            <tr>
                <td> @orderFlavor.Flavor.Coffee.Name </td>
                <td> @orderFlavor.Flavor.Name </td>
                <td style="text-align:center"> @orderFlavor.Quantity </td>
                <td style="text-align:right"> @orderFlavor.Flavor.Price </td>
                <td style="text-align:right"> @(orderFlavor.Flavor.Price * orderFlavor.Quantity) </td>
            </tr> 
        }
        <tr style="border-top: 2px solid black">
            <td> </td>
            <td> </td>
            <td> </td>
            <td style="font-weight:bold"> Total: </td>
            <td style="font-weight:bold; text-align: right"> @Model.TotalSum() </td>
        </tr> 
    </table>    
</div>

Comments:
<div id="comment-list" class="comment-list-class">
    @Html.Action("Index", "Comment", new { orderId = Model.Id })    
</div>
@Html.Action("Create", "Comment")
