@model Core.Views.CoffeeFlavorListView

<div id="customer-content">
    <div id="coffee-list">        
        @Ajax.ActionLink("Starbucks® Blonde Roast Coffee", "Index", "Flavor", new { coffeeCode = "StarbucksBlonde", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "StarbucksBlonde" ? "selected" : null)  })    
        @Ajax.ActionLink("Medium Roast Coffee", "Index", "Flavor", new { coffeeCode = "MediumRoast", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "MediumRoast" ? "selected" : null)  })    
        @Ajax.ActionLink("Dark Roast Coffee", "Index", "Flavor", new { coffeeCode = "DarkRoast", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "DarkRoast" ? "selected" : null)  })    
        @Ajax.ActionLink("Verismo™ Pods", "Index", "Flavor", new { coffeeCode = "VerismoPods", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "VerismoPods" ? "selected" : null)  })   
        @Ajax.ActionLink("Starbucks Reserve® Coffee", "Index", "Flavor", new { coffeeCode = "StarbucksReserve", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "StarbucksReserve" ? "selected" : null)  })        
        @Ajax.ActionLink("Starbucks VIA®", "Index", "Flavor", new { coffeeCode = "StarbucksVIA", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "StarbucksVIA" ? "selected" : null)  })        
        @Ajax.ActionLink("Starbucks® K-Cup® Packs", "Index", "Flavor", new { coffeeCode = "StarbucksKCup", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "StarbucksKCup" ? "selected" : null)  })    
        @Ajax.ActionLink("Portions & Filter Packs", "Index", "Flavor", new { coffeeCode = "PortionsFilter", page = 1 }, 
            new AjaxOptions() { UpdateTargetId = "customer-content", OnComplete="CalculateQuantity()"},
            new { @class = (Model.CurrentCoffee == "PortionsFilter" ? "selected" : null)  })   
    </div>
    <div id="content-body">
    @*<div id="flavor-list">*@
        @foreach (var flavor in Model.Flavors) { 
            <div class="flavor-item">
                <table style="width:100%; background-color: white;">
                    <tr>                    
                        @*<td> <img src='@Url.Action("ShowImage", "Flavor", new { flavorId = flavor.Id, nocache = DateTime.Now.ToString("ddMMyyyyHHmmssfffffff") })' />  </td>                    *@
                        <td> <img src='@Url.Action("ShowImage", "Flavor", new { flavorId = flavor.Id })' />  </td>                    
                        <td style="width: 350px;">
                            <h3> @flavor.Name </h3> <br />
                            <em> @flavor.Description </em> <br />
                            <p>
                                <strong> Roast: </strong> @flavor.Roast <br />
                                <strong> Region: </strong> @flavor.Region
                            </p>                    
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> 
                            <div id='@String.Concat("order-status-", flavor.Id.ToString())'></div>
                        </td>                                           
                        <td>                            
                            @using (Ajax.BeginForm("Add", "OrderFlavor", new { flavorId = flavor.Id },
                                new AjaxOptions() { HttpMethod = "POST", OnComplete="CalculateQuantity()", UpdateTargetId = String.Concat("order-status-", flavor.Id.ToString()) }, null))
                            { 
                                <button>ADD TO BAG</button>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
        <div class="flavor-pager">
            @Ajax.FlavorPageLinks(Model)
        </div>
    </div>
</div>

